/* i primi elementi sono riuscita a centrarli con un flexbox */
.logo-img {
  display: flex;
  justify-content: center;
}

#logo {
  width: 10%;
}

.border {
  margin-top: 1%;
  border-top: 1px solid yellow;
  background-color: hsla(61, 59%, 70%, 0.2);
  display: flex;
  justify-content: center;
  color: rgb(0, 130, 130);
}

.testo-grande {
  font-size: 1.5em;
}

hr {
  border-top: 1px solid aqua;
}
figcaption {
  color: gray;
  text-align: center;
  padding: 1%;
}
.featured {
  border-left: 0.1em solid yellow;
  padding-left: 1%;
}
/* contenitore principale per centrare gli elementi */
.center {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.p-rosso {
  color: rgb(218, 15, 15);
  margin: 0;
}
.focaccia h1 {
  text-align: center;
}
.focaccia img {
  border-radius: 2%;
}
footer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
